p:hover {
	background-color: #4aa3df;
	cursor: pointer;
}

.search-input {
	width: 500px !important;
	height: 20px;
	margin: 0!important;
}
.search-input:focus {
	outline: none;
}
.angucomplete-dropdown {
	overflow-y: auto;
	position: absolute;
	width: 490px !important;
	max-height: 190px;
}
.float-right {
	float: right;
}
.clickable:hover {
	cursor: pointer;
}
