/*p:hover {
	background-color: #4aa3df;
	cursor: pointer;
}*/

.search-input {
	width: 500px !important;
	height: 20px;
	margin: 0!important;
}
.search-input:focus {
	outline: none;
}
.angucomplete-dropdown {
	overflow-y: auto;
	position: absolute;
	width: 490px !important;
	max-height: 190px;
}
.float-right {
	float: right;
}
.clickable:hover {
	cursor: pointer;
}
.semester {
	width: 100%;
	min-height: 100px;
}
.smallmod {
	height: 25px;
}
.bigmod {
	height: 50px;
}
.modholder {
	border: 1px solid blue;
	height: 100px;
}
.height100 {
	height: 100px !important;
}
