@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/*-------------Start Page---------------*/
body {
	margin: 0px !important;
}

#start-page {
	/*-----------Fit in 1 page, no scrolling---------*/
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    background: #1a82f7; 													/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0F398B, #E5FEFF 100%, #CDFFDC); 	/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0F398B, #E5FEFF 100%, #CDFFDC); 			/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0F398B, #E5FEFF 100%, #CDFFDC); 		/* For Firefox 3.6 to 15 */
    background: linear-gradient(#0F398B, #E5FEFF 100%, #CDFFDC); 			/* Standard syntax (must be last) */
}

#logo-div {
	padding: 3vh 0 1vh 0;
}

.start-login-div .btn, #starter-confirm-btn {
	font-size: 16px;
	line-height: normal;
	height: auto;
	padding: 15px 20px;
	border-radius: 5px;
}

.start-login-div .btn:hover, #starter-confirm-btn:hover {
	font-weight: 500;
}

.start-login-div {
	width: 46%;
	float: left;
	margin: 0 2% 0 2%;
}

#start-wrapper {
	margin: 0 20% 0 20%;
	height: 100vh;
}

#grad-cer-div {
	border: 1px solid black;
	padding: 20px;
	height: 72vh;
	background-color: white;
	text-align: center;
}

#grad-cer-div img {
	height: 50px !important;
}

#start-text-div {
	height: 72vh;
	color: white;
	text-align: center;
	overflow: auto;
}

#intro-text, .start-login-div p {
	font-size: 18px;
	text-shadow: 1px 0 black;
}

#intro-text {
	padding: 100px 0 50px 0;
}

.input-size {
	width: 30% !important;
}

#full-name {
	width: 80%;
}

.grad-cer-text {
	color: #fb6542;
	font-weight: bold;
}
/*----------------Logo-----------------*/
.logo {
	font-family: 'Indie Flower', cursive;
	font-size: 40px !important;
	color: white;
	text-shadow: 2px 2px black;
}

.logo-img-cust {
	height: 100px !important;
	cursor: pointer;
}

.none-hover:hover {
	background-color: white !important;
}

/*-------------Basic CSS----------------*/
.bold {
	font-weight: bold;
}

.btn {
	text-transform: capitalize !important;
}

.no-margin {
	margin: 0 !important;
}

.no-lineheight {
	line-height: 0 !important;
}

.black-font {
	color: black !important;
}

.border-right {
	border-right: 1px white solid;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.side-nav.fixed .collapsible-body li.active {
	background-color: #4cb5f5 !important;	/* blue sky color */
}

.waves-effect.waves-red .waves-ripple {
	background-color: rgba(76, 181, 245, 1);
}

#main-section {
	background-color: #F7F7F7;
	padding-left: 17%;
}
/*---------------------------Side Bar--------------------------*/
.side-nav {
	width: 17%;
	z-index: 0!important;
}

.side-nav a {
	line-height: 45px !important;
	height: 45px !important;
	font-size: 14px;
}

.sidebar-item {
	margin: 0 10px 0 10px;
}

			/*------------Collapsible-header-----------*/
#nav-mobile .collapsible-header {
	padding: 0 !important;
	margin: 0 !important;
	font-weight: bold;
}

#nav-mobile .collapsible-header:hover {
	border-left: 7px solid grey;
}

#nav-mobile .collapsible-header.active {
	border-left: 7px solid #4cb5f5;		/* blue sky color */
}

			/*--------------Sidebar text--------------*/
#nav-mobile .collapsible-header a{
	padding: 0 !important;
	display: flex;
}

#nav-mobile .collapsible-header.active a {
	color: #4cb5f5;						/* blue sky color */
}

.gray-icon {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#nav-mobile .collapsible-header.active a .gray-icon {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);	
}
/*------------------------------------------------------------------*/
.page-title {
	background-color: #4cb5f5;	/* blue sky color */
	color: white;
	padding: 15px 15px 10px 15px;

	/*---Fixed Nav Bar---*/
	position: fixed;
	top: 0;
  	z-index: 100;
  	width: 83%;
}

.modal {
	z-index: 200;
}

.large-text {
	font-size: 30px !important;
}

/*---------------------Main Table-------------------------*/
.container-customize {
	padding: 100px 40px 20px 40px;
}

.main-table {
	background-color: white;
	padding: 20px;
}

.flex-display {
	display: flex !important;
}

.status-item {
	background-color: orange;
}

.status-item:active {
	box-shadow: none !important;
	background-color: white !important;
}

.close-btn:hover {
	opacity: 0.5;
}

		/*-----------Button toggle-----------*/
.btn-group {
	margin-left: 5px;
}

.toggle-btn {
	border: 1px solid black; 
	background-color: orange; 
	float: left;
	text-transform: capitalize;
	padding: 0 !important;
	height: auto;
	width: 60px;
	font-size: 14px;
}

.left-div {
	border-radius: 10px 0 0 10px;
}

.right-div {
	border-radius: 0 10px 10px 0;
}

.right-div:hover, .left-div:hover, .middle-div:hover, .selected-toggle-btn {
	box-shadow: inset 0 0 5px black !important;
	background-color: #fb6542 !important;			/* sunset color */
}

		/*--------------Dropdown----------------*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
    line-height: normal !important;
    height: auto !important;
    width: 80px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	margin-left: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 80px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #fb6542;			/* sunset color */
	cursor: pointer;
	color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block !important;
    opacity: 1 !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fb6542;			/* sunset color */
    box-shadow: inset 0 0 5px black;
    border-radius: 5px 5px 0 0 !important;
}

/*---------------------------------------------------------*/
.item {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px !important;
}

.mod-type-table {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: black;
}

		/*---------Rows---------*/
.content-row {
	padding: 0 !important;
	display: flex;
	background-color: white;
}

.content-row:hover{
	font-weight: bold;
}

.new-added-row {
	animation-name: addMod;
	animation-duration: 0.7s;
}

.mod-stt-changed {
	animation-name: modChange;
	animation-duration: 0.3s;
}

@keyframes addMod {
	0% 		{background-color: white; font-weight: bold;}
	50%		{background-color: #739f3d; font-weight: bold;}			/* pear green color */
	100% 	{background-color: #c60000; font-weight: bold;}			/* red pepper color */
}

@keyframes modChange {
	0% 		{background-color: orange; font-weight: bold; opacity: 0.7;}
	100% 	{background-color: #c60000; font-weight: bold; opacity: 0.7;}			/* red pepper color */
}

.ulr-hover:hover {
	background-color: #ffdb5c;			/* banana color */
}

.pr-hover:hover {
	background-color: #fe7a47;			/* papaya color */
}

.ue-hover:hover {
	background-color: #aebd38;			/* moss color */
}

.header, .mc-item {
	font-weight: bold;
	background-color: #EEEEEE;
}

.text-mc {
	text-align: right;
}

/*---------------------Search----------------------*/
.search-input {
	border-radius: 4px !important;
	background-color: white !important;
	padding: 0 15px 0 15px !important;
	color: black !important;
	width: 93% !important;
	height: 40px !important;
	margin-bottom: 0px !important;
}

.search-input:focus {
	border-bottom: none !important;
	box-shadow: none !important;
	border-radius: 4px 4px 0 0 !important;
}

.angucomplete-dropdown {
	overflow-y: auto;
	position: absolute;
	width: 100% !important;
	max-height: 190px;
	border-color: #4cb5f5 !important;	/* blue sky color */
	border-top: 0px !important;
	margin-top: -1px !important;
}

.angucomplete-selected-row {
	background-color: #4cb5f5 !important;	/* blue sky color */
}

.filter-div {
	background-color: white;
	border-radius: 4px;
	float: left;
	height: 41px;
}

.filter-div:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	background-color: #EEEEEE;
}

		/*----------Advanced Search Box----------*/
.modal {
	border-radius: 5px;
	width: 35% !important;
}

.advanced-search-title {
	color: white;
	background-color: #4cb5f5;	/* blue sky color */
	font-size: 20px;
	padding: 15px 20px 20px 30px;
	overflow: hidden;
}

		/*------------Input-----------*/
.wrapper-input-div {
	margin: 30px 30px 0 30px;
	overflow: hidden;
}

.input-div:focus, .input-div: {
	background-color: #f0f0f0;				/* Lighten #EEEEEE */	
}

.input-div input {
	margin: 0 !important;
	padding: 5px 15px 5px 15px;
	box-sizing: border-box !important;
	border: 1px solid black !important;
	border-radius: 5px;
	box-shadow: 0 0 !important;
}

::-webkit-input-placeholder {
   color: #EEEEEE;				
   -webkit-filter: brightness(60%);
   filter: brightness(60%);
}

	/*---------------Cancel & Ok buttons--------------*/
.modal-footer {
	margin-top: 15px;
	padding-right: 30px !important;
	height: 60px !important;
}

.modal-footer div {
	text-transform: capitalize;
	background-color: #4cb5f5;	/* blue sky color */
	border-radius: 5px;
	margin: 5px !important;
	width: 105px;
}

.modal-footer div a {
	color: white;
}

.multi-choice-div {
	float: left;
	margin-right: 30px;
}

.left-advanced-search-div {
	padding-top: 12px;
	float: left;
}

.right-advanced-search-div {
	float: right;	
}

.right-advanced-search-div img:hover {
	opacity: 0.5;
}

/*------------------Drag & Drop Table------------------*/
.drag-drop-item {
	background-color: #b3c100;		/*fields color*/
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	box-shadow: 2px 4px green;
	cursor: move;

	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.drag-drop-item:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	box-shadow: 2px 6px 3px green;
}

.drag-n-drop-div {
	padding: 5px !important;
}

.wrapper-div {
	padding: 0 !important;
	margin: 0 1% 0 1%;
	border: 1px solid black;
	border-radius: 3px;
	width: 23%;
	float: left;
	min-height: 100px;
}

.wrapper-div:hover {
	background-color: #EEEEEE;
}

.semester-div {
	border-bottom: 1px solid black;
	cursor: pointer;
}

.mc-div {
	border-top: 1px solid black;
}

.semester-div, .mc-div {
	padding: 10px !important;
	text-align: center;
	color: rgb(76, 147, 208);					/* darken blue color */
}

.selected-sem-planner {
	color: white;
	font-weight: bold;
	background-color: rgb(76, 147, 208);		/* darken blue color */
}

.close-dnd {
	width: 10%;
	float: left;
}

.drag-drop-text {
	width: 90%;
	float: left;
}

.drag-drop-item {
	overflow: auto;
}