@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
.brand-logo {
	font-family: 'Indie Flower', cursive;
	font-size: 40px !important;
}

.none-hover:hover {
	background-color: white !important;
}

.bold {
	font-weight: bold;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.black-font {
	color: black !important;
}

.basic-padding {
	padding: 20px;
}

#main-section {
	background-color: #F7F7F7;
}

#main-section{
	float: right;
	width: 84%;
}

.side-nav {
	width: 16%;
	z-index: 0!important;
}

.side-nav a {
	line-height: 45px !important;
	height: 45px !important;
	font-size: 14px;
}

.main-table {
	background-color: white;
	padding: 10px;
}

nav {
	padding: 0 10px 0 10px;
}

#search-box {
	border-radius: 5px !important;
	background-color: white !important;
	padding: 0 10px 0 10px;
}

.deg-req-tab {
	overflow: hidden !important;
	width: 50% !important;
	border-radius: 5px;
}

.item {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px !important;
}

.mod-type-table {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: black;
	margin: 0px !important;
}

.content-row {
	padding: 0 !important;
	display: flex;
}

.content-row:hover {
	background-color: pink;
}

.header, .mc-item {
	font-weight: bold;
	background-color: #EEEEEE;
}

.text-mc {
	text-align: right;
}

/*------------------Drag & Drop--------------------*/
.plan-mod-row {
	border-top: solid 1px;
	border-right: solid 1px;
}

.drag-n-drop-tbl {
	border-left: solid 1px;
	border-bottom: solid 1px;
}

.default {
	background: #cedc98;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 10px;
}