<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>SOCPlans</title>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

	<!-- Include angularjs -->
	<link rel="stylesheet" type="text/css" href="css/core.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angucomplete-alt/angucomplete-alt.css">

	<!--Drag and drop-->
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="css/style.css">
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-76015504-1', 'auto');
	ga('send', 'pageview');

	</script>
</head>

<body ng-app="core" id="main">
	<div id="start-page">
		<div id="start-wrapper">
			<div>
				<span class="logo">SOCPlans</span>
			</div>

			<div id="start-text-div">
				<p>SoCPlans helps SoC's students to verify degree and plan modules for semesters</p>
				<div class="waves-effect waves-light btn" id="get-started-btn">Get started</div>
			</div>

			<div ng-controller="xyController" id="grad-cer-div" class="center z-depth-2">
				<img src="img/NUS-logo.png" alt="NUS Logo">
				<p>This is to certify that<br></p>
				<form method="post">
					<span>{{full_name}}</span>
					<input placeholder="Your Full Name" id="full-name" ng-model="full_name" type="text" class="validate center"><br>
					<span>having fulfilled the requirements prescribed by the University was conferred the degree of<br></span>
					<span class="grad-cer-text">BACHELOR OF {{bachelor}}<input placeholder="Your Bachelor" id="bachelor" ng-model="bachelor" type="text" class="validate center input-size"><br>
						IN <input placeholder="Your Major" id="major" ng-model="major" type="text" class="validate center input-size">
						FOCUS AREA <input placeholder="Your Focus Area" id="focus_area" ng-model="focus_area" type="text" class="validate center input-size"><br>
						ADMISSION YEAR <input placeholder="Your Admission Year" id="admission_year" ng-model="admission_year" type="text" class="validate center input-size"><br>
					</span>
					<input type="submit" id="starter-confirm-btn" ng-click="confirm()" class="btn" value="Confirm">
				</form>
			</div>

			<div id="starter-footer" class="center">
				<p>Available only to NUS's SoC Students</p>
				<p>Proudly brought to you by SoCPlans team</p>
			</div>
		</div>
	</div>

	<!--Main Section-->
	<main id="main-section" ng-controller="mainController">
		<!-- Modal Structure Of All Modules-->
		<div id="modal-advanced-all-mod" class="modal">
			<div class="modal-content no-padding">
				<div class="advanced-search-title">
					<div class="left-advanced-search-div"><span>Advanced Search</span></div>
					<div class="right-advanced-search-div">
						<a href="#main" class="modal-action modal-close">
							<img src="icon/white-close-icon.png" class="right">
						</a>
					</div>
				</div>
				<!--Content-->
				<form class="col s12 black-font">
					<div class="wrapper-input-div">
						<div class="input-div"><input type="text" class="validate" placeholder="Search Type"></div>
						<div>
							<p class="multi-choice-div">
								<input class="with-gap" name="group1" type="radio" id="type1" checked />
								<label for="type1">Taken</label>
							</p>
							<p class="multi-choice-div">
								<input class="with-gap" name="group1" type="radio" id="type2" />
								<label for="type2">Plan</label>
							</p>
							<p class="multi-choice-div">
								<input class="with-gap" name="group1" type="radio" id="type3"  />
								<label for="type3">Waived</label>
							</p>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<div class="waves-effect waves-green btn"><a href="#main" class="modal-action modal-close">OK</a></div>
				<div class="waves-effect waves-green btn"><a href="#main" class="modal-action modal-close">Cancel</a></div>
			</div>
		</div>

		<!--Modal Structure of Planner-->
		<div id="modal-advanced-planner" class="modal">
			<div class="modal-content no-padding">
				<div class="advanced-search-title">
					<div class="left-advanced-search-div"><span>Advanced Search</span></div>
					<div class="right-advanced-search-div">
						<a href="#main" class="modal-action modal-close">
							<img src="icon/white-close-icon.png" class="right">
						</a>
					</div>
				</div>
				<!--Content-->
				<form class="col s12 black-font">
					<div class="wrapper-input-div">
						<div class="input-div"><input type="text" class="validate" placeholder="Search Type"></div>
						<div>
							<p class="multi-choice-div">
								<input class="with-gap" name="group1" type="radio" id="type1" checked />
								<label for="type1">Semester 1</label>
							</p>
							<p class="multi-choice-div">
								<input class="with-gap" name="group1" type="radio" id="type2" />
								<label for="type2">Semester 2</label>
							</p>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<div class="waves-effect waves-green btn"><a href="#main" class="modal-action modal-close">OK</a></div>
				<div class="waves-effect waves-green btn"><a href="#main" class="modal-action modal-close">Cancel</a></div>
			</div>
		</div>

		<!--SIDE BAR NAV-->
		<ul id="nav-mobile" class="side-nav fixed">
			<li class="none-hover no-padding center no-lineheight">
				<img src="img/logo.png" class="logo-img-cust">
				<hr>
			</li>
			<li class="no-padding none-hover">
				<ul class="collapsible collapsible-accordion">
					<li id="deg-req-nav">
						<div class="collapsible-header waves-effect waves-red">
							<a class="sidebar-item" href="#deg-req-div"><img src="icon/icon-deg-req.png" class="gray-icon">
								<span>Degree Requirement</span>
							</a>
						</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="#ulr-deg-req">ULR</a></li>
								<li><a href="#prog-req-deg-req">Programme</a></li>
								<li><a href="#ue-deg-req">UE</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="collapsible-header waves-effect waves-red">
							<a id="all-mod-nav" class="sidebar-item" href="#all-mod-div"><img src="icon/icon-all.png" class="gray-icon">
								<span>All Modules</span>
							</a>
						</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="#all-ulr">ULR</a></li>
								<li><a href="#all-prog-req">Programme</a></li>
								<li><a href="#all-ue">UE</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="collapsible-header waves-effect waves-red">
							<a id="plan-mod-nav" class="sidebar-item" href="#plan-mod-div"><img src="icon/icon-plan.png" class="gray-icon">
								<span>Modules Planner</span>
							</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>

		<!--DEGREE REQUIREMENT-->

		<div id="deg-req-div" class="basic-padding col s12">
			<!--Fixed Navigation Bar-->
			<div class="page-title row no-margin">
				<div class="col s6 large-text">Degree Requirement</div>
			</div>

			<div class="container-customize">
				<div class="main-table col s12">
					<!--ULR content-->
					<div id="ulr-deg-req" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s12 header item">University Level Requirements (ULR)</div>
						</div>
						<div class="col s12 content-row">
							<div class="col s2 header item">Type</div>
							<div class="col s2 header item">Code</div>
							<div class="col s7 header item">Title</div>
							<div class="col s1 header item">MC</div>
						</div>

						<div class="col s12 content-row ulr-hover">
							<div class="col s2 item">GEM</div>
							<div class="col s2 item">GEM A / B</div>
							<div class="col s7 item">2 GEM and at least 1 GEM B</div>
							<div class="col s1 item">8</div>

						</div>

						<div class="col s12 content-row ulr-hover">
							<div class="col s2 item">SSA</div>
							<div class="col s2 item">SSA</div>
							<div class="col s7 item">1 SSA</div>
							<div class="col s1 item">4</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s11 mc-item item text-mc">Subtotal Module Credits</div>
							<div class="col s1 mc-item item">20</div>
						</div>
					</div>

					<!--Programme Requirements content-->
					<div id="prog-req-deg-req" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s12 header item">Programme Requirements (Programme)</div>
						</div>

						<div class="col s12 content-row pr-hover">
							<div class="col s2 item">CS Foundation</div>
							<div class="col s2 item">CS2105</div>
							<div class="col s7 item">Introduction to Computer Networks</div>
							<div class="col s1 item">4</div>
						</div>

						<div class="col s12 content-row pr-hover">
							<div class="col s2 item">CS Foundation</div>
							<div class="col s2 item">CS2100</div>
							<div class="col s7 item">Computer Organization</div>
							<div class="col s1 item">4</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s11 mc-item item text-mc">Subtotal Module Credits</div>
							<div class="col s1 mc-item item">120</div>
						</div>
					</div>

					<!--UE content-->
					<div id="ue-deg-req" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s12 header item">Unrestricted Electives (UE)</div>
						</div>

						<div class="col s12 content-row ue-hover">
							<div class="col s2 item">UE</div>
							<div class="col s2 item">All codes</div>
							<div class="col s7 item">5 any modules</div>
							<div class="col s1 item">20</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s11 mc-item item text-mc">Subtotal Module Credits</div>
							<div class="col s1 mc-item item">20</div>
						</div>
					</div>

					<div id="ue-deg-req" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s11 mc-item item text-mc">Total Module Credits</div>
							<div class="col s1 mc-item item">160</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--ALL MODULES-->
		<div id="all-mod-div" class="basic-padding col s12">
			<!--Fixed Navigation Bar-->
			<div class="page-title row no-margin">
				<div class="col s6 large-text">All Modules</div>
				<!--Search bar-->
				<div class="col s6 right">
					<form class="col s12">
						<div class="row no-margin">
							<div class="filter-div">
								<!-- Modal Trigger -->
								<a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search filter" 
								href="#modal-advanced-all-mod"><img src="icon/filter-icon.png"></a>
							</div>
							<div class="col s10">
								<search select="addModule" items="modules"></search>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="container-customize">
				<div class="main-table col s12">
					<!--ULR content-->
					<div id="all-ulr" class="row mod-type-table">
						<div class="col s12 header item">
							University Level Requirements (ULR)
						</div>

						<div class="col s12 content-row">
							<div class="col s2 header item">Type</div>
							<div class="col s1 header item">Code</div>
							<div class="col s5 header item">Title</div>
							<div class="col s1 header item">MC</div>
							<div class="col s3 header item">Actions</div>
						</div>

						<div class="col s12 content-row ulr-hover" ng-repeat="subtype in modulesController.subtypes['ULR']" ng-hide="subtype.fulfilled">
							<div class="col s2 item">{{ subtype.name }}</div>
							<div class="col s10 item">Add your required module</div>
						</div>

						<div class="col s12 content-row ulr-hover" ng-repeat="module in modulesController.visibleModules['ULR']">
							<div class="col s2 item">{{ module.type }}</div>
							<div class="col s1 item">{{ module.code }}</div>
							<div class="col s5 item">{{ module.title }}</div>
							<div class="col s1 item">{{ module.mc }}</div>
							<div class="col s3 item">
								<!--<a class="clickable" ng-click="removeModule(module.type, module.code)">X</a>-->
								<!--<a title="Mark as {{ (module.state==='taken' ? 'planned' : 'taken') }}" class="clickable" ng-click="changeState(module.type, module.code)">{{ (module.state==='taken' ? 'P' : 'T') }}</a>-->
								<div class="float-left">
									<a ng-click="removeModule(module.type, module.code)"><img class="close-btn" src="icon/close-icon.png"></a>
								</div>
								<div class="btn-group float-left">
									<a class="left-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Taken</a>
									<a class="middle-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Plan</a>
									<a class="right-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Waived</a>
								</div>
							</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s8 mc-item item text-mc">MC fulfilled / MC required</div>
							<div class="col s4 mc-item item">
								<span ng-bind="modulesController.totalMCs['ULR']"> </span>
								/
								<span> 20 </span>
							</div>
						</div>
					</div>


					<!--Programme Requirement content-->
					<div id="all-prog-req" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s12 header item">Programme Requirements</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s2 header item">Type</div>
							<div class="col s1 header item">Code</div>
							<div class="col s5 header item">Title</div>
							<div class="col s1 header item">MC</div>
							<div class="col s3 header item">Actions</div>
						</div>

						<div class="col s12 content-row pr-hover" ng-repeat="module in modulesController.visibleModules['PR']">
							<div class="col s2 item">{{ module.type }}</div>
							<div class="col s1 item">{{ module.code }}</div>
							<div class="col s5 item">{{ module.title }}</div>
							<div class="col s1 item">{{ module.mc }}</div>
							<div class="col s3 item">
								<!--<a class="clickable" ng-click="removeModule(module.type, module.code)">X</a>-->
								<!--<a title="Mark as {{ (module.state==='taken' ? 'planned' : 'taken') }}" class="clickable" ng-click="changeState(module.type, module.code)">{{ (module.state==='taken' ? 'P' : 'T') }}</a>-->
								<div class="float-left">
									<a ng-click="removeModule(module.type, module.code)"><img class="close-btn" src="icon/close-icon.png"></a>
								</div>
								<div class="btn-group float-left">
									<a class="left-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Taken</a>
									<a class="middle-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Plan</a>
									<a class="right-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Waived</a>
								</div>
							</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s8 mc-item item text-mc">MC fulfilled / MC required</div>
							<div class="col s4 mc-item item">
								<span ng-bind="modulesController.totalMCs['PR']"> </span>
								/
								<span> 20 </span>
							</div>
						</div>
					</div>


					<!--Unrestricted Elective content-->
					<div id="all-ue" class="row mod-type-table">
						<div class="col s12 content-row">
							<div class="col s12 header item">Unrestricted Electives</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s2 header item">Type</div>
							<div class="col s1 header item">Code</div>
							<div class="col s5 header item">Title</div>
							<div class="col s1 header item">MC</div>
							<div class="col s3 header item">Actions</div>
						</div>

						<div class="col s12 content-row ue-hover" ng-repeat="module in modulesController.visibleModules['UE']">
							<div class="col s2 item">{{ module.type }}</div>
							<div class="col s1 item">{{ module.code }}</div>
							<div class="col s5 item">{{ module.title }}</div>
							<div class="col s1 item">{{ module.mc }}</div>
							<div class="col s3 item center">
								<!--	<a class="btn-floating waves-effect waves-light red">X</a>  -->
								<!--<a class="clickable" ng-click="removeModule(module.type, module.code)">X</a>-->
								<!--<a title="Mark as {{ (module.state==='taken' ? 'planned' : 'taken') }}" class="clickable" ng-click="changeState(module.type, module.code)">{{ (module.state==='taken' ? 'P' : 'T') }}</a>-->
								<div class="float-left">
									<a ng-click="removeModule(module.type, module.code)"><img class="close-btn" src="icon/close-icon.png"></a>
								</div>
								<div class="btn-group float-left">
									<a class="left-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Taken</a>
									<a class="middle-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Plan</a>
									<a class="right-div toggle-btn btn waves-effect waves-light" onClick="toggleFunction()">Waived</a>
								</div>
							</div>
						</div>

						<div class="col s12 content-row">
							<div class="col s8 mc-item item text-mc">MC fulfilled / MC required</div>
							<div class="col s4 mc-item item">
								<span ng-bind="modulesController.totalMCs['UE']"> </span>
								/
								<span> 20 </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--PLANNER MODULES-->
		<div id="plan-mod-div" class="basic-padding" ng-controller="planController">
			<!--Fixed Navigation Bar-->
			<div class="page-title row no-margin">
				<div class="col s6 large-text">Modules Taken</div>
				<!--Search bar-->
				<div class="col s6 right">
					<form class="col s12">
						<div class="row no-margin">
							<div class="filter-div">
								<!-- Modal Trigger -->
								<a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search filter" 
								href="#modal-advanced-planner"><img src="icon/filter-icon.png"></a>
							</div>
							<div class="col s10">
								<search select="addModule" items="modules"></search>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="container-customize">
				<div class="main-table col s12">
					<div id="plan-mod-wrapper" class="row">
						<div class="wrapper-div">
							<div class="col s12 semester-div waves-effect waves-light" onClick="semPlanner()">Semester 1</div>
							<div class="col s12 drag-n-drop-div">
								<div ui-sortable="sortableOptions" class="semester" ng-model="semester[0]">
									<div ng-repeat="mod in semester[0]" class="row no-margin">
										<div class="drag-drop-item">
											<span class="bold">{{mod.code}}</span> <br>
											{{mod.title}} <br>
											{{mod.mc}} MC
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 mc-div">4MCs</div>
						</div>

						<div class="wrapper-div">
							<div class="col s12 semester-div waves-effect waves-light" onClick="semPlanner()">Semester 2</div>
							<div class="col s12 drag-n-drop-div">
								<div ui-sortable="sortableOptions" class="semester" ng-model="semester[1]">
									<div ng-repeat="mod in semester[1]" class="row no-margin">
										<div class="drag-drop-item">
											<span class="bold">{{mod.code}}</span> <br>
											{{mod.title}} <br>
											{{mod.mc}} MC
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 mc-div">4MCs</div>
						</div>

						<div class="wrapper-div">
							<div class="col s12 semester-div waves-effect waves-light" onClick="semPlanner()">Semester 3</div>
							<div class="col s12 drag-n-drop-div">
								<div ui-sortable="sortableOptions" class="semester" ng-model="semester[2]">
									<div ng-repeat="mod in semester[2]" class="row no-margin">
										<div class="drag-drop-item">
											<span class="bold">{{mod.code}}</span> <br>
											{{mod.title}} <br>
											{{mod.mc}} MC
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 mc-div">4MCs</div>
						</div>

						<div class="wrapper-div">
							<div class="col s12 semester-div waves-effect waves-light" onClick="semPlanner()">Semester 4</div>
							<div class="col s12 drag-n-drop-div">
								<div ui-sortable="sortableOptions" class="semester" ng-model="semester[3]">
									<div ng-repeat="mod in semester[3]" class="row no-margin">
										<div class="drag-drop-item">
											<span class="bold">{{mod.code}}</span> <br>
											{{mod.title}} <br>
											{{mod.mc}} MC
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 mc-div">4MCs</div>
						</div>
						

					<!--<div class="row no-margin center">
							<div class="col s12 wrapper-div">
								<span>4MCs</span>
							</div>
							<div class="col s3 wrapper-div">
								<span>12MCs</span>
							</div>
							<div class="col s3 wrapper-div">
								<span>10MCs</span>
							</div>
							<div class="col s3 wrapper-div">
								<span>10MCs</span>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>

		<!--FOOTER-->
		<div class="row">
			<div class="col s10 offset-s1">
				<div class="row">
					<div class="col s6">
						<h5>Product</h5>
						<ul>
							<li>Help</li>
							<li>Contribute</li>
							<li>API</li>
						</ul>
					</div>

					<div class="col s6">
						<h5>SoCPlanner</h5>
						<ul>
							<li>About</li>
							<li>Out Team</li>
							<li>Contact Us</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<hr>
					<footer align="center">Copyright © 2016 SOCPlanner. All rights reserved</footer>
				</div>
				<div class="col s1"></div>
			</div>
		</div>
	</main>


	<section >
	<!--		<search select="addModule" items="modules"> </search>
			<hr>
			<moduletable list="modules" add="addModule"> </moduletable> -->
		</section>
		<script type="text/javascript" src="bower_components/angular/angular.js"> </script>
		<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"> </script>
		<script type="text/javascript" src="js/core.js"> </script>
		<script type="text/javascript" src="js/user.service.js"> </script>
		<script type="text/javascript" src="js/modules.service.js"> </script>
		<script type="text/javascript" src="js/search.directive.js"> </script>
		<script type="text/javascript" src="js/moduletable.directive.js"> </script>
		<script type="text/javascript" src="js/transport.factory.js"> </script>
		<script type="text/javascript" src="node_modules/angucomplete-alt/dist/angucomplete-alt.min.js"> </script>
		<script type="text/javascript" src="bower_components/angular-ui-sortable/sortable.min.js"> </script>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
		<script type="text/javascript" src="js/front-end.js"></script>
	</body>
	</html>
