<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Sign in</title>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Include angularjs -->
	<link rel="stylesheet" type="text/css" href="css/core.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angucomplete-alt/angucomplete-alt.css">

	<link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="core" id="main">
	<section ng-controller="loginController">
		<form>
			<label> Username: </label>
			<input type="text" ng-model="Input.username"> </input>
		</form>
		<form>
			<label> Password: </label>
			<input type="text" ng-model="Input.password"> </input>
		</form>
		<input type="submit" value="Submit" ng-click="login(Input)"> </input>
	</section>

	<script type="text/javascript" src="bower_components/angular/angular.js"> </script>
	<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"> </script>
	<script type="text/javascript" src="js/core.js"> </script>
	<script type="text/javascript" src="js/user.service.js"> </script>
	<script type="text/javascript" src="js/modules.service.js"> </script>
	<script type="text/javascript" src="js/search.directive.js"> </script>
	<script type="text/javascript" src="js/moduletable.directive.js"> </script>
	<script type="text/javascript" src="node_modules/angucomplete-alt/dist/angucomplete-alt.min.js"> </script>
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script type="text/javascript" src="js/frontend-js.js"></script>
</body>
</html>
